* {
  margin: 0;
  white-space: normal;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

li {
  padding: 8px 0;
}

pre {
  position: relative;
  background: #d3d6db;
  padding: 16px;
  word-wrap: break-word;
  border: 1px solid #e6e7e9;
  width: calc(100% - 32px);
  margin-top: 4px;
}

.myPreTag::after {
  content: attr(data-value);
  color: #fff;
  background: #a1a1a1;
  padding: 3px 10px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px 7px;
}

.myPreTag:hover:after {
  cursor: pointer;
  opacity: 0.5;
}
